body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-colour: rgb(22, 22, 22);
  --foreground-colour: rgb(255, 255, 255);
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Verification form, .Registration form, .Portal {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Portal {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#Portal-Page {
  text-align: center;
}

.Counter {
  display: flex;
  height: 50px;
  width: 300px;
  flex-direction: row;
  align-items: center;
}

form input, button {
  padding: 10px;
  border-radius: 3px;
  border-style: hidden;
  text-align: center;
  background-color: var(--background-colour);
  color: var(--foreground-colour);  
}

form input[type=submit], button {
  background-color: var(--foreground-colour);
  color: var(--background-colour);
  cursor: pointer;
}

