@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --background-colour: rgb(20, 20, 19);
  --foreground-colour: rgb(255, 255, 255);
  --h1-spacing: 2px;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  align-items: center;
}

.Verification form, .Registration form, #PortalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5vh;
}


.Entries .Counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: nowrap;
}

form input, button {
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  border-style: hidden; 
  text-align: center;
  background-color: var(--background-colour);
  color: var(--foreground-colour);  
}

form input[type=submit], button {
  background-color: var(--foreground-colour);
  color: var(--background-colour);
  cursor: pointer;
  transition: opacity 0.3s ease; 
}

input[type="submit"]:hover, button:hover {
  opacity: 0.5; 
}

#loadingCircle {
  margin-top: 5vh;
  align-self: center;
}


@keyframes pulse {
  from {
    letter-spacing: var(--h1-spacing);
  }
  to {
    letter-spacing: 3px;
  }
}


h1 {
  font-size: 25px;
  letter-spacing: var(--h1-spacing);
  margin-bottom: 5vh;
}
